{{/* People Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $page := .page }}
{{ $show_social := $page.Params.design.show_social | default false }}
{{ $show_interests := $page.Params.design.show_interests | default true }}
{{ $show_bio := $page.Params.design.show_bio | default true }}
{{ $show_organizations := $page.Params.design.show_organizations | default false }}
{{ $show_role := $page.Params.design.show_role | default true }}
{{ $view := $page.Params.design.view | default "profile_card" }}

<div class="row justify-content-center people-widget">
  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}



  <!-- {{ with $page.Params.content }}{{ . }}{{ end }} -->
  {{ if $page.Params.content.filter_button }}
    {{ $filter_default := default (int $page.Params.Params.content.filter_default) 0 }}

    {{/* Parse default filter tag from front matter in the form of either tag name or CSS class name. */}}
    {{ $default_filter_item := (index $page.Params.content.filter_button ($filter_default)) }}
    {{ $default_data_filter := "" }}
    {{ with $default_filter_item.filter }}
      {{ $default_data_filter = . }}
    {{ else }}
      {{ $default_filter_tag := $default_filter_item.tag }}
      {{ if or (eq (substr $default_filter_tag 0 1) "*") (eq (substr $default_filter_tag 0 1) ".") }}
        {{ $default_data_filter = $default_filter_tag }}
      {{ else }}
        {{ $default_data_filter = printf ".js-id-%s" (lower (replace $default_filter_tag " " "-")) }}
      {{ end }}
    {{end}}

    <span class="d-none default-project-filter">{{ $default_data_filter }}</span>

    {{/* Only show filter buttons if there are multiple filters. */}}
    <div class="project-toolbar">
      <div class="project-filters">
        <div class="btn-toolbar">
          <div class="btn-group flex-wrap">
            {{ range $idx, $item := $page.Params.content.user_groups }}
              {{/* Parse filter tag from front matter in the form of either tag name or CSS class name. */}}
              {{ $data_filter := "" }}
              {{ if or (eq (substr $item 0 1) "*") (eq (substr $item 0 1) ".") }}
                {{ $data_filter = $item }}
              {{ else }}
                {{ $data_filter = printf ".js-id-%s" (lower (replace $item " " "-")) }}
              {{ end }}
            <!-- <a href="#" data-filter="{{ $data_filter | safeHTMLAttr }}" class="btn btn-primary btn-lg{{ if eq $idx $filter_default }} active{{ end }}">{{ $item }}</a> -->
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ else }}
    notthere
  {{ end }}



  {{ range $user_group_name := $page.Params.content.user_groups }}
  {{ if in $user_group_name "Alumni"}}
    {{ continue}}
  {{ end }}
  {{ $query := where (where site.Pages "Section" "authors") ".Params.user_groups" "intersect" (slice .) }}
  {{if $query | and (gt (len $page.Params.content.user_groups) 1) }}
  
  {{ $js_tag_classes := printf "js-id-%s" (lower (replace . " " "-")) }}

  <div class="col-md-12 {{ $js_tag_classes | safeHTMLAttr }}">
    <h2 class="mb-4">{{ . | markdownify }}</h2>
  </div>
  {{end}}

  {{ range $index, $item := ($query.ByParam "last_name") }}
    
  {{ $name_id := printf "%s" (lower (replace (path.Base .File.Dir) " " "-")) }}
  {{ $js_tag_classes := delimit (apply (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") "lower" ".") " " }}

    {{ if in (slice "masonry" 3) $view }}
      <div class="project-card project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}">
    {{else}}
      <div class="col-12 isotope-item {{ $js_tag_classes | safeHTMLAttr }}" id="{{ $name_id }}">
    {{end}}
    {{ partial "functions/render_view" (dict "page" $page "item" . "view" $view "index" $index) }}
  </div>

  {{ end }}
  {{ end }}


  <!-- This is for alumni -->


  {{ $query := where (where site.Pages "Section" "authors") ".Params.user_groups" "intersect" (slice "Alumni")  }}
  {{ $js_tag_classes := printf "js-id-%s" (lower (replace "Alumni" " " "-")) }}

  <div class="col-md-12 {{ $js_tag_classes | safeHTMLAttr }}">
    <h2 class="mb-4">{{ "Alumni" | markdownify }}</h2>
  </div>

  {{ range $index, $item := ($query.ByParam "graduation_date").Reverse }}
  <div class="alumni-card alumni-item isotope-item {{ $js_tag_classes | safeHTMLAttr }} float-right">
    {{ partial "functions/render_view" (dict "page" $page "item" . "view" "alumni_list" "index" $index) }}
    </div>
  {{ end }}

  <!-- {{ range $index, $item := $query }}
  {{ end }} -->

</div>
