name: PR CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: shrutheeshir/hugo-academic-ssh:v1
    steps:
      - uses: actions/checkout@v3
      - name: Deploy
        run: docker run --net=host --name cogrob_local -v $(pwd):/src hugo-academic-ssh:v1
      - name: Run
        run: docker start cogrob_local && docker exec cogrob_local /bin/bash /src/scripts/build_process.sh
