name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - name: Build docker images
      run: docker build -t local Dockerfile
    - name: Run tests
      run: docker run --net=host -v ${{ github.workspace }}:/src local