name: PR CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: shrutheeshir/hugo-academic-ssh:v1
      volumes:
        - my_docker_volume:/src
    steps:
      - uses: actions/checkout@v3
      - name: Run
        run: build_process.sh
