name: Push CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: shrutheeshir/hugo-academic-ssh:v1
      volumes:
        - my_docker_volume:/src
      options: --net=host      
    steps:
      - uses: actions/checkout@v3
      - name: Run
        run: build_and_deploy.sh
