name: Push CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: shrutheeshir/hugo-academic-ssh:v1
    steps:
      - uses: actions/checkout@v3
      - name: Deploy
        run: docker run --net=host --name cogrob_local -v $(pwd):/src hugo-academic-ssh:v1 && docker start cogrob_local && docker exec cogrob_local /bin/bash /src/scripts/build_and_deploy.sh
