name: Push CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: docker build . --file Dockerfile --tag hugo_img:v1
      - name: Deploy
        run: docker run --net=host --name cogrob_local -v $(pwd):/src hugo_img:v1 && docker start cogrob_local && docker exec cogrob_local /bin/bash /src/scripts/build_and_deploy.sh
